
/* NAV BAR CSS */
.navigation {
  padding:10px;
}

.brand-text {
  font-size: 44px;
  font-family: 'Play', sans-serif;
  color: #fff;
}

/* CHAT ROOM STYLE */
.chatRoom {
  height:500px;
}
.chatRoom .roomName {
  color: black;
  padding-bottom:15px;
}


.chatRoom .messageContainer{
  width:100%;
  margin: 5px 5px 5px 5px;
}

.chatRoom .messageContent{
  width:70%;
  float:left;
}

.chatRoom .messageSentAt{
  font-size: 10px;
  padding-left:5px;
  width: 30%;
  float:left;
}

.homePage .username {
  padding:0px 15px 10px 0px;
}

/* ROOM LISTING STYLE */
.roomList {
  height:500px;
}
